html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
  }

  .container {
    width: 100%;
    height: 100%;
    background: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: 2rem;
  }

  button, img {
    align-self: center;
    font-size: 2.5rem;
  }

  button {
    background: transparent;
    border: solid 1px white;
    box-shadow: 0 0 2px black;
    color: white;
  }

  button:hover {
    color: red;
    border: solid 1px red;
    cursor: pointer;
  }

  .box-p1, .box-p2 {
    display: flex;
    justify-content: space-evenly;
  }

  .box-player-score1, .box-player-score2 {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
  }

  .box-current {
    background: red;
    display: flex;
    justify-content: space-between;
    width: 20%;
  }

 

  img {
    height: 200px;
    width: 200px;
  }

  #victory {
    box-shadow:  0 0 3px black;
    align-self: center;
  }